<!-- <div>
    <p>HRT Admin Area52</p>
</div>
<div>
    <button style="pointer-events: none;" type="button" class="btn btn-light">Admin Name : <%= name %></button>
    <button style="pointer-events: none;"  type="button" class="btn btn-light">Date : <%= date %></button>
    <a class="btn btn-light" href="/admin">Admin Dashboard</a>
    <a class="btn btn-danger" href="/logout">Logout</a>
    <hr>
</div> -->
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-left navbar-brand-wrapper d-flex align-items-center justify-content-between">
        <a class="navbar-brand brand-logo" href="/"><img src="./assets/images/logo.svg" alt="HRT Admin" /></a>
        <a class="navbar-brand brand-logo-mini" href="/"><img src="./assets/images/logo-mini.svg" alt="HRT Admin" /></a>
        <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <ul class="navbar-nav">
            
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            
            <li class="nav-item nav-user-icon">
                <a class="nav-link" href="#">
                    <img src="https://via.placeholder.com/37x37" alt="profile" />
                </a>
            </li>
            <li class="nav-item  dropdown d-none align-items-center d-lg-flex d-none">
                <a class=" btn btn-outline-secondary btn-fw" href="/logout">
                    <span class="nav-profile-name">Logout</span>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>