<div>
    <p>HRT Admin Area52</p>
</div>
<div>
    <button style="pointer-events: none;" type="button" class="btn btn-light">Admin Name : <%= name %></button>
    <button style="pointer-events: none;"  type="button" class="btn btn-light">Date : <%= date %></button>
    <a class="btn btn-light" href="/admin">Admin Dashboard</a>
    <a class="btn btn-danger" href="/logout">Logout</a>
    <hr>
</div>