   <!-- partial -->
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile" style="pointer-events: none;">
        <div class="nav-link d-flex">
          <div class="profile-name">
            <p class="name">
              HR
            </p>
            <p class="designation">
              Manager
            </p>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="mdi mdi-shield-check menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
    </ul>
  </nav>